html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* scroll disabled because of the touch events. */
  color: white;
  -webkit-text-size-adjust: none; /* disable page zoom */
	touch-action: manipulation; /* disable page zoom */
  user-select: none; /* disable text selection */
  -webkit-user-select: none; /* disable text selection */
}

.main-content {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: black;

  .title {
    align-items: end;
    font-size: 1rem;
    min-height: 50px;
    margin-top: -10px;
  }

  .carousel-container {
    display: grid;
    grid-template-columns: min-content auto min-content;
    align-self: baseline;

    .image-list-container {
      overflow-x: hidden;
      cursor: grab;
      /* width is set dynamically in JS for better consistency */

      #images-list-content {
        display: flex;
        transition: transform 0.6s ease;
      }

      .slider-img {
        /* width and height are set dynamically in JS for better consistency */
        -webkit-user-drag: none;
        user-select: none;
        cursor: grab;
        /* margin is set dynamically in JS for better consistency */
      }

      .selected-img {
        border: 1px solid white;
      }
    }

    .left-button {
      background-color: white;
      color: black;
      transform: scaleX(-1);
      height: 50%;
      align-self: center;
      cursor: pointer;
      border-radius: 10px;
      border: 1px solid deepskyblue;
      box-shadow: 0 0 0 1px deepskyblue;
    }

    .disabled-button {
      opacity: 0.3;
      pointer-events: none;
    }

    .right-button {
      transform: unset;
    }

    .pages-container {
      grid-column: 2;
      justify-self: center;
    }

    .circle {
      height: 15px;
      width: 15px;
      background-color: #bbb;
      border-radius: 50%;
      margin-left: 5px;
      padding: unset;
      border: unset;
      cursor: pointer;
    }

    .selected-circle {
      background-color: deepskyblue;
    }

  }
}
